<div class="shadow-xl">
  <nav class="flex justify-between items-center bg-white dark:bg-gray-800 p-4">
    <div class="text-black xl:ml-68 flex flex-row space-x-2 justify-center items-center">
      <img style="height: 3rem;" src="assets/img/Logo Pocari Sweat.png" alt="Your avatar" />
      <img style="height: 3rem;" src="assets/img/Logo Ion Water.png" alt="Your avatar" />
      <img style="height: 3rem;" src="assets/img/Logo Oronamin.png" alt="Your avatar" />
      <img style="height: 3rem;" src="assets/img/Logo Fibe Mini.png" alt="Your avatar" />
      <img style="height: 3rem;" src="assets/img/Logo Soyjoy.png" alt="Your avatar" />
    </div>
    
  
    <!-- Navigation Links -->
    <ul class="flex space-x-4">
      <li>
        <div class="flex flex-row">
          <img class="h-12" src="assets/img/aio-logo2.png" alt="Your avatar" />
        </div>
      </li>
    </ul>
  </nav>
</div>
